*.swp
*.o
*.err
*.log
*.txt
*.log(old)
*.gdb
*.out
*~
.directory
test1
src/**/*.swp
src/**/*.*.swp
src/**/*.*.gch
test/stress/*.o
test/stress/stress
test/master/stress_1/stress
test/stress/tcpnet
build/
nbproject/
test/botest/*.log
test/botest/*.out
data.test
*.life
