*.swp
*.o
*.err
*.log
*.out
*~
.directory
test1
src/**/*.swp
src/**/*.*.swp
src/**/*.*.gch
test/stress/*.o
test/stress/stress
test/stress/tcpnet
build/
nbproject/
test/botest/*.log
test/botest/*.out
data.test
